* {
    margin: 0;
    /* padding: 0; */

    --color-nav-bt: wheat;
    --color-nav-bt-border: blue;
    --color-nav-bt-text: black;
    --color-nav-bg: lightblue;
    /* https://cssgradient.io/ */
    
    --color-pagenav-bg:beige;
    --color-pagenav-text:rgb(55, 33, 33);
    --color-pagenav-border:rgb(55, 33, 33);
    
    --color-content-bg:beige;
    --color-content-section-bg:rgb(245, 231, 220);
    /* color:beige; */
    --color-content-border:rgb(55, 33, 33);
    --color-content-text:rgb(55, 33, 33);

    --color-cat-bg:beige;
    --color-cat-border:rgb(55, 33, 33);
    font-family: monospace;
}


body {
    min-height: 100vh;
    background-color: lightblue;
}



nav li {
    list-style: none;
}

nav{
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(173,216,230,1) 64%, rgba(255,255,255,0) 79%);
    height: 60px;
    z-index: 10;
}

#nav-main-list {
    width: 100%;
    display: flex;
    padding: 10px 5px;
    gap: 20px;
    /* justify-content: space-between; */
    height: 50px;
    align-items: flex-start;
}

.nav-list {
    padding: 0;
    display: none;
}

.nav-element:hover .nav-list {
    display: block;
    max-height: 40px;
}

.nav-element{
    background-color: var(--color-nav-bt);
    padding: 3px;
    margin: 0;
    text-align: center;
    border: 3px outset green;
}

.nav-element a {
    color: var(--color-nav-bt-text);
    text-decoration: none;
}
.nav-element a:hover {
    color: var(--color-nav-bt-text);
    text-decoration: wavy;
    background-color: red;
}
.nav-element a:visited {
    color: var(--color-nav-bt-text);
    text-decoration: none;
}

main{
    padding: 0;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

#page-nav{
    background-color: var(--color-pagenav-bg);
    border: 1px var(--color-pagenav-border) solid;
    width: 20%;
    height: 100%;
    position: fixed;
    gap: 5px;
    left:0;
}

#page-nav ol {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    margin-top:30px;

}

#page-nav a{
    margin: 5px;
    font-size: 1.3em;
}





#content{
    margin-left: calc(20% + 10px);
    margin-right: calc(20% + 10px);
    background-color: var(--color-content-bg);
    width: 60%;
    height: 100%;
    font-size: x-large;
}
#content img{
    max-width: 100%;
    max-height: 300px;
}
#content section{
    outline: 1px var(--color-content-border) solid;
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--color-content-section-bg);
}
#content img {
    outline: 2px var(--color-content-border) solid;
}
#content section p {
    margin-bottom: 10px;
}
#content section h2 {
    text-align: center;
    padding: 20px;
    color:slateblue;
    text-shadow: 1px 1px 1px  black;
}
#content .pluses li {
    list-style-type: "+ ";
    color: green;
}
#content .minuses li {
    list-style-type: "- ";
    color: crimson;
}





#cat{
    background-color: var(--color-cat-bg);
    border: 1px var(--color-cat-border) solid;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
}

#cat img {
    object-fit: contain;
    height: 100%;
}

