* {
    margin: 0;
    /* padding: 0; */

    --color-nav-bt: wheat;
    --color-nav-bt-border: wheat;
    --color-nav-bt-text: wheat;
    --color-nav-bc:white;
    
    --color-pagenav-bc:white;
    --color-pagenav-text:white;
    --color-pagenav-border:white;

    --color-cat-bc:white;
    --color-cat-border:white;
}



nav li {
    list-style: none;
}

nav{
    position: fixed;
    width: 100%;
    background-color: var(--color-nav-bc);
    height: 60px;
    z-index: 10;
}

#nav-main-list {
    width: 100%;
    display: flex;
    padding: 10px 5px;
    gap: 20px;
    /* justify-content: space-between; */
    height: 50px;
    align-items: flex-start;
}

.nav-list {
    padding: 0;
    display: none;
}

.nav-element:hover .nav-list {
    display: block;
    max-height: 40px;
}

.nav-element{
    background-color: var(--color-nav-bt);
    padding: 3px;
    margin: 0;
    text-align: center;
    border: 3px outset green;
}


body {
    min-height: 100vh;
    background-color: gray;
}

main{
    padding: 0;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}
main div {
    
}

#page-nav{
    background-color: red;
    width: 20%;
    height: 100%;
    position: fixed;
    left:0;
}

#content{
    margin-left: calc(20% + 10px);
    margin-right: calc(20% + 10px);
    background-color: red;
    width: 60%;
    height: 100%;
}

#cat{
    background-color: red;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
}